# Intro To Pandas: Loading A .csv File

To begin using pandas and access its library of functions, you first have to import it using 'import'. When importing a module you can also rename it which is useful as continually typing a very long module name becomes tedious. Below pandas is imported and renamed pd.

In [1]:
import pandas as pd

You will often have your data in an Excel spreadsheet saved as a comma separated file (.csv) and loading the data into a dataframe is made easy in pandas with the below command:

In [3]:
lego_df = pd.read_csv('colors.csv')

The data from the excel spreadsheet 'colors.csv' has now been loaded into a pandas dataframe. Let's take a quick look at the data. Calling the .head() or .tail() functions on lego_df with display the first or last five entries of lego_df:

In [5]:
lego_df.head()

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [7]:
lego_df.tail()

       id                  name     rgb is_trans
173  1047      Modulex Foil Red  8B0000        f
174  1048   Modulex Foil Yellow  FED557        f
175  1049   Modulex Foil Orange  F7AD63        f
176  1050                 Coral  FF698F        f
177  9999  [No Color/Any Color]  05131D        f

If you want to view a different number of entries, provide this number as an argument in the .head() or .tail() function:

In [8]:
lego_df.head(2)

   id       name     rgb is_trans
0  -1  [Unknown]  0033B2        f
1   0      Black  05131D        f

To get some quick statistical information on the dataframe:

In [39]:
lego_df.describe()

                id
count   178.000000
mean    440.488764
std     833.769903
min      -1.000000
25%      54.750000
50%     149.000000
75%    1006.750000
max    9999.000000

In [ ]:
If you want to get information on types of values in lego_df:

In [9]:
lego_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
id          178 non-null int64
name        178 non-null object
rgb         178 non-null object
is_trans    178 non-null object
dtypes: int64(1), object(3)
memory usage: 5.6+ KB

You can see that lego_df is a pandas dataframe with 178 entries and four columns in total (id, name, rgb, is_trans). Each column contains no missing entries (non-null) and the id column contains numerical data of type int64, and the remaining three columns contain object data types.

To access specific columns or rows you can use the .iloc or .loc method. .iloc uses an index based approach whereas .loc uses a name based approach. One thing to bear in mind when using the .iloc method is that numbering starts at 0 and not 1, so the first row is row 0 and the first column is column 0. To use the .iloc method you call it on your dataframe:

dataframe.iloc[row, column]

So if we wanted to access the cell of the first row and first column you would write

print('Cell value with index [0,0] is ' + str(lego_df.iloc[0,0]))
print('Cell value with index [1,3] is ' + str(lego_df.iloc[1,3]))
print('Cell value with index [2,2] is ' + str(lego_df.iloc[2,2]))

To access segments, columns, or rows by themselves pandas can slice these sections for you. Slicing works by taking a start and end point, and returning everything between these points. Let's say we have a shopping list:

In [13]:
my_shopping_list = ['apple', 'bananna', 'cheese']

We can print each item out according to its index number:

In [14]:
print('Index 0 item is:' + my_shopping_list[0])
print('Index 1 item is:' + my_shopping_list[1])
print('Index 2 item is:' + my_shopping_list[2])

Index 0 item is:apple
Index 1 item is:bananna
Index 2 item is:cheese

You can also use negative indexing:

In [25]:
print('Index -1 is:' + str(my_shopping_list[-1]))
print('Index -2 is:' + str(my_shopping_list[-2]))
print('Index -3 is:' + str(my_shopping_list[-3]))

Index -1 is:cheese
Index -2 is:bananna
Index -3 is:apple

To slice the shopping list, we use the square brackets as above but this time follow the format [start index : end index]. To see this in action:

In [18]:
print('Slicing from 0 to 1:' + str(my_shopping_list[0:1]))

Slicing from 0 to 1:['apple']

If we wanted the middle item:

In [19]:
print('Slicing from 1 to 2:' + str(my_shopping_list[1:2]))

Slicing from 1 to 2:['bananna']

Sometimes you may want to have everything up to or past a certain index value, in which case you do not provide a number e.g. to take all the items after index one you leave the end index blank:

In [20]:
print('Everything after index 1:' + str(my_shopping_list[1:]))

Everything after index 1:['bananna', 'cheese']

To have everything up until index 2 you leave the start index blank:

In [21]:
print('Everything up unto index2:' + str(my_shopping_list[:2]))

Everything up unto index2:['apple', 'bananna']

If you want everything from start to finish you can leave both start and end index blank:

In [22]:
print('Everything:' + str(my_shopping_list[:]))

Everything:['apple', 'bananna', 'cheese']

You can even use negative indexing:

In [24]:
print('Index -1 is:' + str(my_shopping_list[-1]))

Index -1 is:cheese

Returning to our lego dataframe, we can slice entire rows or columns by index using:

dataframe[ row[start:end] , [columns[start:end]] ]

To get all columns in the first row we slice frome 0:1 and leave the column start and end index blank:

In [36]:
lego_df.iloc[0:1, :]

   id       name     rgb is_trans
0  -1  [Unknown]  0033B2        f

To get all the rows in the first column:

In [37]:
lego_df.iloc[:, 0:1]

       id
0      -1
1       0
2       1
3       2
4       3
5       4
6       5
7       6
8       7
9       8
10      9
11     10
12     11
13     12
14     13
15     14
16     15
17     17
18     18
19     19
20     20
21     21
22     22
23     23
24     25
25     26
26     27
27     28
28     29
29     30
..    ...
148  1022
149  1023
150  1024
151  1025
152  1026
153  1027
154  1028
155  1029
156  1030
157  1031
158  1032
159  1033
160  1034
161  1035
162  1036
163  1037
164  1038
165  1039
166  1040
167  1041
168  1042
169  1043
170  1044
171  1045
172  1046
173  1047
174  1048
175  1049
176  1050
177  9999

[178 rows x 1 columns]

In [ ]:
To get cells (1,1) to cells (3,3:

In [38]:
lego_df.iloc[1:4, 1:4]

    name     rgb is_trans
1  Black  05131D        f
2   Blue  0055BF        f
3  Green  237841        f

The other method to interact with a dataframe is .loc which uses row and column names instead of indexing. If you wanted to take a look at the first four items in the name column:

In [47]:
lego_df.loc[1:4, 'name']

1             Black
2              Blue
3             Green
4    Dark Turquoise
Name: name, dtype: object